{% extends '../base.html' %}
{% load static %}

{% block title %} 
Organic | Blog Detail
{% endblock %}

{% block content %}

<style>

    .me{
        background-color: #f2f2f2;
        padding: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .me form{
        width: 100%;
        

    }
    .ke{
        display: flex;
        flex-direction: column;
    }
    .ke input{
        height: 40px;
        border-radius: 4px;
        width: 100%;
        border: 1px solid #ccc;
        padding-left: 10px;
    }

    .new-comment{
        display: flex;
        padding-top: 10px;
    }

    .new-comment img{
        border-radius: 5px;
        width: 50px;
        height: 50px;
        padding-right: 10px;
    }

    .all-comment h4{
        font-size: 15px;
    }
    
</style>

<section class="blog-details-hero set-bg" data-setbg="{{ post_detail.image.url }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    <h2>{{ post_detail.title }}</h2>
                    <ul>
                        <li>By {{ request.user.username }}</li>
                        <li>{{ post_detail.created }}</li>
                        <li>8 Comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                <div class="blog__sidebar">
                    
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent">
                            {% for b in blog_thre%}
                            <a href="{% url 'blog_detail' b.id %}" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="{{ b.image.url }}" style="width: 50px; height: 50px;" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>{{ b.title }}</h6>
                                    <span>{{ b.created }}</span>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text">
                    <img src="{( post_detail.image.url )}" alt="">
                    <h3>{{ post_detail.title }}</h3>
                    <p>{{ post_detail.description }}</p>
                </div>
                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic">
                                    <img src="{% static 'img/blog/details/details-author.jpg' %}" alt="">
                                </div>
                                <div class="blog__details__author__text">
                                    <h6>Michael Scofield</h6>
                                    <span>Admin</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog__details__widget">
                                <ul>
                                    <li><span>Categories:</span> Food</li>
                                    <li><span>Tags:</span> All, Trending, Cooking, Healthy Food, Life Style</li>
                                </ul>
                                <div class="blog__details__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                {% if comment_list %}
                {% for com in comment_list %}
                <div class="new-comment">
                    <img src="{% static 'img/blog/details/details-author.jpg' %}" alt="" srcset="">
                    <div class="all-comment">
                        <h4>{{ com.author }}</h4>
                        <h4>{{ com.email }}</h4>
                        <p>{{ com.comment }}</p>
                    </div>
                </div>
                <hr>
                {% endfor %}
                {% else %}
                <p>No comment yet</p>
                {% endif %}
                
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="row me">
                    <form action="" method="post">{% csrf_token %}
                        <div class="ke">
                            <input type="text" placeholder="author" name="author" id="">
                            <br>
                        <input type="email" name="email" placeholder="Email" id="">
                        <br>
                        <textarea name="comment" id="" cols="10" rows="10"></textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary
                        ">Send</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

   

{% endblock %}