{% extends '../base.html' %}
{% load static %}

{% block title %} 
Organic | Shop
{% endblock %}

{% block content %}

<!-- Hero Section Begin -->
{% include 'eMarket/category.html' %}
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Department</h4>
                        <ul>
                            {% for ca in categories %}
                            <li><a href="{% url 'eMarket:category-detail' ca.id %}">{{ ca.name }}</a></li>
                            
                            {% endfor %}
                        </ul>
                    </div>
                    
                    
                    <div class="sidebar__item">
                        <h4>Popular Size</h4>
                        <div class="sidebar__item__size">
                            <label for="large">
                                Large
                                <input type="radio" id="large">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="medium">
                                Medium
                                <input type="radio" id="medium">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="small">
                                Small
                                <input type="radio" id="small">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="tiny">
                                Tiny
                                <input type="radio" id="tiny">
                            </label>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Sale Off</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            {% for goods in disc_prices %}
                            <div class="col-lg-4">
                               
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="{{ goods.image.url }}">
                                        <div class="product__discount__percent">
                                            -{{ goods.percent_removed }}%</div>
                                        <ul class="product__item__pic__hover">
                                            {% if user.is_authenticated %}
                                            {% if goods.favourite.user %}
                                           <a href="{% url 'eMarket:favourite' goods.id %}" class="heart-icon"><i class="fa fa-heart"></i></span></a>
                                           {% else %}
                                           <a href="{% url 'eMarket:favourite' goods.id %}" class="heart-icon"><i class="fas fa-heart"></i></span></a>
                                           {% endif %}
                                       {% else %}
                                           
                                           <a href="{% url 'eMarket:user-login' %}" class="heart-icon"><i class="fas fa-heart"></i></span></a>
                                   
                                       {% endif %}
                                            
                                            {% if request.user.is_authenticated %}
                                            <li><a href="{{ goods.get_add_to_cart_url }}"><i class="fa fa-shopping-cart"></i></a></li>
                                            {% else %}
                                            <li><a href="{% url 'eMarket:user-login' %}"><i class="fa fa-shopping-cart"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>{{ goods.category.name }}</span>
                                        <h5><a href="{{ goods.get_absolute_url }}">{{ goods.title }}</a></h5>
                                        {% if goods.discount_price %}
                                        <div class="product__item__price">${{ goods.discount_price }} 
                                            <span>${{ goods.price }}</span>
                                            
                                        </div>
                                        {%else%}
                                        <div class="product__item__price">
                                            ${{ goods.price }}
                                        </div>
                                        {% endif %}
                                    </div>
                                    
                                </div>
                                
                            </div>
                            {% empty %}
                                

                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select>
                                    <option value="0">Default</option>
                                    <option value="0">Default</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>{{ products.count }}</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row" id="prev-result">
                    {% for p in page_obj %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <img src="{{ p.image.url }}" alt="" srcset="">
                                <ul class="product__item__pic__hover">
                                    
                                    {% if user.is_authenticated %}
                         {% if p.favourite.user %}
                        <a href="{% url 'eMarket:favourite' p.id %}" class="heart-icon"><i class="fa fa-heart"></i></span></a>
                        {% else %}
                        <a href="{% url 'eMarket:favourite' p.id %}" class="heart-icon"><i class="fas fa-heart"></i></span></a>
                        {% endif %}
                    {% else %}
                        
                        <a href="{% url 'eMarket:user-login' %}" class="heart-icon"><i class="fas fa-heart"></i></span></a>
                
                    {% endif %}
                                    
                                    {% if request.user.is_authenticated %}
                                    <li><a href="{{ p.get_add_to_cart_url }}"><i class="fa fa-shopping-cart"></i></a></li>
                                    {% else %}
                                    <li><a href="{% url 'eMarket:user-login' %}"><i class="fa fa-shopping-cart"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h6>
                                <h5>${{ p.price }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            
                <div class="row" id="search-row">
                    <div class="col-lg-4 col-md-6 col-sm-6" id="search-col">
                        <div class="product__item" id="search-result">

                        </div>

                    </div>
                </div>
                <div class="product__pagination" id="pag">
                    {% if page_obj.has_previous %}
                    <a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}">Prev</a>
                    {% endif %}
                    <a href="?{{ page_request_var }}={{ page_obj.number }}">{{ page_obj.number }}</a>
                    {% if page_obj.has_next %}
                    <a href="?{{ page_request_var }}={{ page_obj.next_page_number }}"><i class="fa fa-long-arrow-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<script> 
    const searchData = document.getElementById('search')
    const searchResult = document.getElementById('search-result')
    const prevResult = document.getElementById('prev-result')
    const searchRow = document.getElementById('search-row')
    const searchCol = document.getElementById('search-col')
    const pagenate = document.getElementById('pag')
    const searchBtn = document.getElementById('searchBtn')

    const url = window.location.origin
     
    searchRow.style.display = "none"
    searchCol.style.display = "none"


    // SEARCH BUTTON
    searchBtn.addEventListener('click', (e) =>{
        e.preventDefault()
        const dataInput = searchData.value;
        console.log(dataInput)
        if(dataInput.trim().length > 0){
            searchResult.innerHTML = ""
            pagenate.style.display = "none"
            fetch(`${url}/search/`, {
            body: JSON.stringify({
          search: dataInput
        }),
        method: "POST"
        }).then((res) => res.json()).then((data) => {
            let json_data = JSON.parse(data)
            console.log(json_data.res)
            //let resultData = json_data.res
            prevResult.style.display = "none"
            searchRow.style.display = "block"
            searchCol.style.display = "block"
            
            if(json_data.length === 0){
                searchResult.innerHTML = "<p>No result found</p>"

            }else{
                json_data.res.forEach((da) =>{
                    console.log(da)
                    searchResult.innerHTML += `
                            <div class="product__item__pic set-bg" data-setbg="${da.image.url}">
                                
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{{ p.get_absolute_url }}">${da.title}</a></h6>
                                <h5>${ da.price }</h5>
                            </div>
                    `
                })
            }
        })
        }else{
            searchResult.style.display = "none"
            prevResult.style.display = "block"
            pagenate.style.display = "none"
        }
    })
    

    // SEARCH INPUT
    searchData.addEventListener('keyup', (e) =>{
        e.preventDefault()
        const inputData = e.target.value
        if(inputData.length > 0){
            searchResult.innerHTML = ""
            pagenate.style.display = "none"
            fetch(`${url}/search/`, {
            body: JSON.stringify({
          search: inputData
        }),
        method: "POST"
        }).then((res) => res.json()).then((data) => {
            let json_data = JSON.parse(data)

            prevResult.style.display = "none"
            searchRow.style.display = "block"
            searchCol.style.display = "block"
            
            if(json_data.resErr){
                searchResult.innerHTML = "<p>No result found</p>"

            }else{
                json_data.forEach((da) =>{
                    searchResult.innerHTML += `
                            <div class="product__item__pic set-bg">
                                <img src="${da.img}"" alt="" srcset="">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="${url}/product/${da.prod_url}">${da.title}</a></h6>
                                <h5>${ da.price }</h5>
                            </div>
                    `
                })
            }
        })
        }else{
            prevResult.style.display = "block"
            pagenate.style.display = "block"
            searchResult.innerHTML = ""
        }
    })
    
    
    </script>

 {% endblock %}